<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceMantenedorConductorSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2257/WebServiceMantenedorConductor.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMantenedorConductorSoap"
                contract="ServiceConductor.WebServiceMantenedorConductorSoap"
                name="WebServiceMantenedorConductorSoap" />
        </client>
    </system.serviceModel>
</configuration>